
h1{
    text-align: center;
    color: rgb(29, 66, 202);
    text-decoration: underline;
}
.carte{
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.carte_image{
    width: 300px;
    height: 300px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;

}
.carte_image path{
    fill: blue;
    stroke: #FFF;
    stroke-width: 1px;
    transition: fill 0.3s;
}

.carte_image .is-active path{
    fill: #c800ff;
}

.carte_list{
    float: left;
    width: 50%;
}

.carte_list a{
    color: inherit;
    text-decoration: none;
    transition: color 0.3s;


}
.carte_list a.is-active{
    color: #c800ff;
    font-weight: bold;
    text-decoration: underline;
}
ul {
    float: left;

}

