.land {
  fill: #cccccc;
  fill-opacity: 1;
  stroke: white;
  stroke-opacity: 1;
  stroke-width: 0.5;
}
.svg-container {
  /* display: inline-block;
  position: relative;
  width: 100%;
  height: 100%; */
  /* padding-bottom: 100%; */
  /* vertical-align: middle;
  overflow: hidden; */
}

path:hover,
circle:hover {
  stroke: #002868 !important;
  stroke-width: 2px;
  stroke-linejoin: round;
  fill: #002868 !important;
  cursor: pointer;
}

#path67 {
  fill: none !important;
  stroke: #a9a9a9 !important;
  cursor: default;
}

#info-box {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  background-color: #ffffff;
  border: 2px solid #bf0a30;
  border-radius: 5px;
  padding: 5px;
  font-family: arial;
}